/* custom css goes here */
.navbar {

    background-color: #008000;
    background-image: none;
}
   

h1{
	text-shadow:0.5px 0.5px 0.5px #00331f;
    text-align:center; 
    color:#003311; 
}

body{
	 background: #ccffcc;
	 color: #0d0d0d; 	
	 font-weight:bold;
     font-size:16px; 
     margin-left: auto;
     margin-right: auto;
}
.photo{
    float:left;
    margin: 4px 10px 2px 0px;
}

